:root {
    --dark-gray: #000a12;
    --first-gray: #263238;
    --second-gray: #4f5b62;
}

body {
    margin: 0;
    background-color: var(--dark-gray);
    color: white;
}

button {
    cursor: pointer;
    border: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 80px;
    color: white;
    padding-bottom: 8px;
}

.search_bar {
    display: flex;
}

.search_text {
   border: none;
}

.search_btn {
    color: white;
    background-color: var(--second-gray);
}

nav {
    background-color: var(--first-gray);
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 8px;
}

.nav_btns {
    display: flex;
    align-items: center;
}

.nav_btn {
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: var(--second-gray);
}

section {
    margin: 15px;
}

.list {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.name,
.singer,
.number,
.bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide {
    background-color: var(--second-gray);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 8px;
}